<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизація</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/style.css" rel="stylesheet" />
    <link href="~/Content/themes/base/media.css" rel="stylesheet" />
    <body>
        @RenderBody()
        @Scripts.Render("~/bundles/jquery")
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        <script src="~/Scripts/Custom/zepto.min.js"></script>
    </body>
</html>