@model SupportAsu.DTO.Comment.CommentModel
<li class="massege-block">
    <div class="info-author-left"><a class="star-name">@Model.Name</a> <span class="star-date">@Model.Date.ToString("dd.MM.yyyy HH:mm")</span></div>
    <span class="star-comment-text">@Model.Text</span>
</li>